<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
  {% load static %}
	<link rel="stylesheet" type="text/css" media="screen" href="{% static "pure/pure-min.css" %}" >
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static "/css/pure/grids-responsive-old-ie-min.css" %}">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{% static "pure/grids-responsive-min.css" %}">
  <!--<![endif]-->
  <link rel="stylesheet" href="{% static "style.css" %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}CollaborativeBookshelf{% endblock %}</title>
</head>
<body>
<div class="pure-g">
    {% block structure %}Undef!{% endblock %}
</div>
</body>
</html>
